#title {
  margin: 15px auto;
  width: max-content;
}

.puzzle-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.puzzle-status h3 {
  margin: 10px;
}

.high-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.score-list {
  margin-right: 50px;
}

.restart {
  width: 80px;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.button-container button {
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #d0eaff;
}

.button-shadow {
  background-color: darkgray;
}

.sudoku {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  height: 45px;
  border-bottom: 1px solid black;
}

.sudoku > .row:nth-child(3),
.sudoku > .row:nth-child(6) {
  border-bottom-width: 2px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid gray;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.js-cell {
  cursor: pointer;
}

.cell:nth-child(3),
.cell:nth-child(6) {
  border-right-width: 2px;
  border-right-color: black;
}

.js-cell:hover {
  background-color: #d0eaff;
}

.high-score-btn {
  width: 100px;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* .message:empty {
  display: none;
} */

/* Mobile Devices: 319px — 480px */
@media (min-width: 319px) and (max-width: 480px) {
  .sudoku {
    max-width: 100%;
  }
}
