#game-title {
  display: flex;
  gap: 16px;
}

nav {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 10px;
  gap: 10px;
}

.dropdown {
  gap: 16px;
  align-items: center;
  position: relative;
}

.score-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 88px;
  max-width: 88px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-right: 10px;
  border-radius: 10px;
}

.restart {
  display: flex;
  margin-left: auto;
}

.score-list p {
  padding-left: 16px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

nav button {
  background-color: #202a44;
  border-radius: 8px;
  padding: 10px 16px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
}

.puzzle-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.puzzle-status h3 {
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.button-container button {
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #d0eaff;
}

.button-shadow {
  background-color: darkgray;
}

.sudoku {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  height: 45px;
  border-bottom: 1px solid black;
}

.sudoku > .row:nth-child(3),
.sudoku > .row:nth-child(6) {
  border-bottom-width: 2px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid gray;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.js-cell {
  cursor: pointer;
}

.cell:nth-child(3),
.cell:nth-child(6) {
  border-right-width: 2px;
  border-right-color: black;
}

.js-cell:hover {
  background-color: #d0eaff;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Mobile Devices: 319px — 480px */
@media (min-width: 319px) and (max-width: 480px) {
  .sudoku {
    max-width: 100%;
  }

  .puzzle-status {
    gap: 0px;
  }
}
